h1 {text-align: center; 
    font-size: 21px; 
    color: purple;
text-decoration-line: underline;
}
body{text-align: center;
color: purple;
background-color:whitesmoke);
}
#name{font-weight: bold;
font-size: x-large;
}
.para1{font-style: italic;}